---
import Section from "@components/common/Section.astro";
import { getTopHeadlines } from "@utils/api";

const topHeadlines: NEWS.ARTICLE[] = await getTopHeadlines();

const mainArt = topHeadlines[0];

const subArt1 = topHeadlines[1];
const subArt2 = topHeadlines[2];
const subArt3 = topHeadlines[3];
---

<Section>
  <div
    class="min-h-[450px] xl:h-[550px] grid grid-cols-6 xl:grid-cols-5 grid-rows-3 gap-4"
  >
    <article
      class="col-span-full md:col-span-4 xl:col-span-3 row-span-2 md:row-span-3 overflow-hidden"
    >
      <div
        class="w-full h-[85%] bg-cover bg-center transition-all rounded-2xl"
        style={`background-image: url("${mainArt.urlToImage}")`}
      >
        <span class="sr-only">{mainArt.title}</span>
      </div>

      <div class="h-[15%] flex items-center">
        <a href={mainArt.url} target="_blank">
          <h1
            class="text-xl lg:text-2xl lg:font-bold leading-none text-base-800 hover:text-main-950 transition-colors"
          >
            {mainArt.title}
          </h1>
        </a>
      </div>
    </article>

    <article
      class="col-span-2 overflow-hidden grid grid-cols-1 md:grid-cols-[1fr_2fr]"
    >
      <div
        class="max-md:mb-2 min-h-[100px] bg-cover bg-center transition-all rounded-2xl"
        style={`background-image: url("${subArt1.urlToImage}")`}
      >
        <span class="sr-only">{subArt1.title}</span>
      </div>

      <div class="md:pl-2">
        <a href="#">
          <h2
            class="mb-1 text-sm lg:text-lg leading-none lg:font-bold text-base-800 hover:text-main-950 transition-colors"
          >
            {subArt1.title}
          </h2>
        </a>

        <p class="max-lg:hidden text-base-800 text-sm leading-none">
          {subArt1.description}
        </p>
      </div>
    </article>

    <article
      class="col-span-2 overflow-hidden grid grid-cols-1 md:grid-cols-[1fr_2fr]"
    >
      <div
        class="max-md:mb-2 min-h-[100px] bg-cover bg-center transition-all rounded-2xl"
        style={`background-image: url("${subArt2.urlToImage}")`}
      >
        <span class="sr-only">{subArt2.title}</span>
      </div>

      <div class="md:pl-2">
        <a href="#">
          <h2
            class="mb-1 text-sm lg:text-lg leading-none lg:font-bold text-base-800 hover:text-main-950 transition-colors"
          >
            {subArt2.title}
          </h2>
        </a>

        <p class="max-lg:hidden text-base-800 text-sm leading-none">
          {subArt2.description}
        </p>
      </div>
    </article>

    <article
      class="col-span-2 overflow-hidden grid grid-cols-1 md:grid-cols-[1fr_2fr]"
    >
      <div
        class="max-md:mb-2 min-h-[100px] bg-cover bg-center transition-all rounded-2xl"
        style={`background-image: url("${subArt3.urlToImage}")`}
      >
        <span class="sr-only">{subArt3.title}</span>
      </div>

      <div class="md:pl-2">
        <a href="#">
          <h2
            class="mb-1 text-sm lg:text-lg leading-none lg:font-bold text-base-800 hover:text-main-950 transition-colors"
          >
            {subArt3.title}
          </h2>
        </a>

        <p class="max-lg:hidden text-base-800 text-sm leading-none">
          {subArt3.description}
        </p>
      </div>
    </article>
  </div>
</Section>
